{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Crear Reservación</h2>
    <form method="post" class="mt-3" id="reservationForm">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.id_sportzones.id_for_label }}">Zona Deportiva:</label>
            {{ form.id_sportzones }}
        </div>
        <div class="mb-3">
            <label>Estado de la Reservación:</label>
            <p>Reservado</p>
        </div>
        <div class="mb-3">
            <label>Administrador:</label>
            <p>{{ request.user.username }}</p>
        </div>
        <div class="mb-3">
            <label for="{{ form.id_clients.id_for_label }}">Cliente:</label>
            {{ form.id_clients }}
        </div>
        <div class="mb-3">
            <label for="{{ form.start_date.id_for_label }}">Fecha de inicio:</label>
            {{ form.start_date }}
        </div>
        <div class="mb-3" id="horarioField" style="display: none;">
            <label for="{{ form.horario.id_for_label }}">Horario:</label>
            {{ form.horario }}
        </div>
        <div class="mb-3">
            <label for="{{ form.duration.id_for_label }}">Duración de la reserva:</label>
            {{ form.duration }}
        </div>
        <button type="submit" class="btn btn-primary" id="submitBtn">Crear Reservación</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener la fecha actual en formato ISO
        var now = new Date();
        var year = now.getFullYear();
        var month = (now.getMonth() + 1).toString().padStart(2, '0');
        var day = now.getDate().toString().padStart(2, '0');
        var formattedNow = `${year}-${month}-${day}`;

        // Obtener el elemento de fecha de inicio
        var startDateInput = document.getElementById('{{ form.start_date.id_for_label }}');

        // Establecer la fecha actual como mínimo para el campo de fecha de inicio
        startDateInput.min = formattedNow;
    });
</script>
{% block extra_js %}
<script>
    $(document).ready(function() {
        // Función para actualizar las opciones de horario
        function updateAvailableTimes(start_date, sportzone_id) {
            $.ajax({
                url: "{% url 'get_available_times' %}",
                data: {
                    'start_date': start_date,
                    'sportzone_id': sportzone_id
                },
                success: function(data) {
                    var $horarioField = $('#horarioField');
                    var $horarioSelect = $('#{{ form.horario.id_for_label }}');
                    
                    // Si hay horarios disponibles, mostrar el campo de horario
                    if (data.available_times.length > 0) {
                        $horarioField.show();
                        $horarioSelect.empty();
                        $.each(data.available_times, function(key, value) {
                            $horarioSelect.append('<option value="' + value[0] + '">' + value[1] + '</option>');
                        });
                    } else {
                        // Si no hay horarios disponibles, ocultar el campo de horario
                        $horarioField.hide();
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        // Actualizar opciones de horario al cambiar la fecha de inicio o la zona deportiva
        $('#{{ form.start_date.id_for_label }}').change(function() {
            var start_date = $(this).val();
            var sportzone_id = $('#{{ form.id_sportzones.id_for_label }}').val();
            updateAvailableTimes(start_date, sportzone_id);
        });

        $('#{{ form.id_sportzones.id_for_label }}').change(function() {
            var start_date = $('#{{ form.start_date.id_for_label }}').val();
            var sportzone_id = $(this).val();
            updateAvailableTimes(start_date, sportzone_id);
        });
    });
</script>
{% endblock %}
{% endblock %}
